@font-face {
    font-family: 'THSARABUNNEW';  /* ตั้งชื่อฟอนต์ */
    src: url('../fonts/THSARABUNNEW.TTF') format('truetype'); /* กำหนด path ของฟอนต์ */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DBHeavent';  /* ตั้งชื่อฟอนต์ */
    src: url('../fonts/DB\ Heavent\ v3.2.1.ttf') format('truetype'); /* กำหนด path ของฟอนต์ */
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'THSARABUNNEW', sans-serif;
    font-size:20px;
}


section {
    font-family: 'THSARABUNNEW', sans-serif;
    margin-bottom: 40px;
    padding: 20px;
    background-color: #F0F0F0;
    border-radius: 5px;
}

.navbar-nav .nav-link{
    font-size: 24px;
    font-weight: bold;
}

/* กำหนดตัวหนังสือสำหรับ card ขนาด md-6 */
.card-body {
    font-family: 'THSARABUNNEW', sans-serif;
}

.card-content {
    font-family: 'DBHeavent', sans-serif;
}

.card-content .h1 , .card-content .h2 {
    font-weight: bold;
}
